body{
    background-size: cover;
}

.status, .objects{
    font-size: 18px;
}

.heading{
    font-size: 22;
    width: 100%;
    margin-top: 0;
    font-family: 'Calligraffitti', cursive;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 3;
    background-color: rgb(206, 27, 27);
    color: rgb(39, 39, 167);
    text-align: center;
}

canvas{
    border: 2px solid black;
    box-shadow: 2px 2px 2px grey;
    margin-top: 90px;
    border-radius: 30px;
}